<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="utf-8">
  <title>Youth Music--{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style/offline.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='style/pace.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}">
  <link href='http://fonts.googleapis.com/css?family=Montserrat|Lato:400,700,400italic,900' rel='stylesheet' type='text/css'>
  <script src="https://use.fonticons.com/19d37d2e.js"></script>
  <script src="{{url_for('static', filename='script/offline.min.js')}}"></script>
  <script src="{{url_for('static', filename='script/pace.min.js')}}"></script>
  <meta name="description" content="Youth Music Voting, and worship voting.">
  <meta name="keywords" content="Youth, Voting, Music">
  {% endblock %}
</head>
<body>
  <div id="content">{% block content %}{% endblock %}</div>
  <div id="footer"><p>Created by Colin Daugherty. {% if page != "help"} If you need help, click <a href="{{url_for('help')}}">here</a>.{% endif %} If you want to make any feature requests, please email me.</p><p id="copyright">This is copyrighted by <a href="mailto:cdaug1228@gmail.com">Colin Daugherty</a> &copy <div id="year">Can't find year</div></p></div>
  {% if cookie == False %}
    <script src="{{url_for('static', filename='script/script.js')}}"></script>
  {% endif %}
  </div>
</body>
</html>
