<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Youth Music</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style/pace.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}">
  <link href='http://fonts.googleapis.com/css?family=Montserrat|Lato:400,700,400italic,900' rel='stylesheet' type='text/css'>
  <script src="https://use.fonticons.com/19d37d2e.js"></script>
</head>
<body>
  <div class="content">
    <h1>Youth Music Suggestions</h1>
    <input id="searchInput" placeholder="Search for a song/artist/album" autofocus="true" value="">
    <ul id="results">
      <li>One Result by Tests<br><a class="spotify_play_link" href="#">Testing link</a></li><br>
      <li>Two Result by Tests<br><a class="spotify_play_link" href="#">Testing link</a></li><br>
      <li>Three Result by Tests<br><a class="spotify_play_link" href="#">Testing link</a></li><br>
      <li>Four Result by Tests<br><a class="spotify_play_link" href="#">Testing link</a></li><br>
      <li>Five Result by Tests<br><a class="spotify_play_link" href="#">Testing link</a></li><br>
    </ul>
    <div id="tracks_already_suggested_section">
      <h4>Already Suggested Tracks</h4>
      <ul id="suggested_tracks">
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
        <li>Four</li>
        <li>Five</li>
        <li>Six</li>
        <li>Seven</li>
        <li>Eight</li>
        <li>Nine</li>
        <li>Ten</li>
      </ul>
    </div>
  </div>
</body>
</html>
