{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1 id="title">Youth Music Suggestions</h1>
  <input id="searchInput" placeholder="Search for a song" autofocus="true" value="">
  <ul id="results">
    <li>One Result by Tests<br><a class="spotify_play_link" href="#">Testing link</a></li><br>
    <li>Two Result by Tests<br><a class="spotify_play_link" href="#">Testing link</a></li><br>
    <li>Three Result by Tests<br><a class="spotify_play_link" href="#">Testing link</a></li><br>
    <li>Four Result by Tests<br><a class="spotify_play_link" href="#">Testing link</a></li><br>
    <li>Five Result by Tests<br><a class="spotify_play_link" href="#">Testing link</a></li><br>
  </ul>
  <div id="tracks_already_suggested_section">
    <h4>Already Suggested Tracks</h4>
    <ul id="suggested_tracks">
      <li><i class="cdi cdi-thumbs-o-down" style="padding: 5px"></i>This Is Not A Test<i class="cdi cdi-thumbs-o-up" style="padding: 5px"></i><br><span class="artist">tobyMac</span><span class="votes">Vote Count- </span></li>
      <li>Two</li>
      <li>Three</li>
      <li>Four</li>
      <li>Five</li>
      <li>Six</li>
      <li>Seven</li>
      <li>Eight</li>
      <li>Nine</li>
      <li>Ten</li>
    </ul>
  </div>
{% endblock %}
