/*

Starting from a mobile view and then slowly getting bigger

*/

/* Body code */

body {
  background: linear-gradient(90deg, #650B3E, #0B6633);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16pt;
  color: #a3a3a3;
  margin-left: auto;
  margin-right: auto;
}

input, textarea, input:focus, textarea:focus, button {
  font-size: 32pt;
  width: 70%;
  border: 0;
  outline: 0;
  background: inherit;
  color: white;
}

/* Link code */

a:visited, a:link {
  color: #a3a3a3;
}

a:hover {
  color: #7F7F7F;
}

ul li {
  list-style: none;
}

.spotify_play_link {
  font-size: 14pt;
}

/* Suggested Tracks */
#tracks_already_suggested_section {
  position: absolute;
  left: 70%;
  bottom: 10%;
  width: 25%;
  height: 85%;
  text-align: center;
  font-size: 18pt;
  padding: 0px;
}

#suggested_tracks {
  overflow-y: scroll;
  height: 75%;
}

/* Voting Buttons */
#voting {
  color: #999999;
}

#voteup, #votedown {
  padding-left: 5px;
  padding-right: 5px;
}

/*

Start the Media Queries

*/

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    body {
      font-size: 22pt;
      margin-left: auto;
      margin-right: auto;
    }

    input, textarea, input:focus, textarea:focus, button {
      font-size: 36pt;
      width: 50%;
    }

    #tracks_already_suggested_section {
      position: absolute;
      left: 70%;
      bottom: 35%;
      width: 35%;
      height: 50%;
      text-align: left;
      font-size: 28pt;
      padding: 0px;
    }

    #suggested_tracks {
      overflow-y: scroll;
      height: 50%;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6+ ----------- */

/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}

/* ----------- Galaxy S5 ----------- */

/* Portrait */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {

}

/* Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {

}

/* End Media Queries */

/* Scrollbar */

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(105,105,105,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(105,105,105,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(105,105,105,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(105,105,105,0.4);
}
